<% layout('layouts/boilerplate') %>
<% layout('layouts/boilerplate') %>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
                     alt="" class="card-img-top"/>
                <div class="card-body">
                    <h5 class="card-title">Change Password</h5>
                    <form action="/changePassword" method="POST" novalidate class="needs-validation">
                        <div class="mb-3">
                            <label class="form-label" for="username">Username: <%= user.username%></label>
                            <input type="hidden" class="form-control" type="text" name="username" id="username" value="<%= user.username %>" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email: <%= user.email%></label>
                            <input type="hidden" class="form-control" type="text" name="username" id="username" value="<%= user.email %>" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="oldPassword">Old Password</label>
                            <div class="input-group has-validation">
                                <input class="form-control" type="password" name="oldPassword" id="oldPassword"
                                       required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="newPassword">New Password</label>
                            <div class="input-group has-validation">
                                <input class="form-control" type="password" name="newPassword" id="newPassword"
                                       required>
                                <div class="valid-feedback">
                                    Looks good.
                                </div>
                                <div class="invalid-feedback">
                                    Please choose a password.
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-success btn-block">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const user = <%- JSON.stringify(user) %>;
</script>